##IntelliJ
.idea
build/
out/
*.iml

##Log Files
*.log
/logs/


##Java
.class

##General OS-Specific things
*.DS_Store
*.swp
*.swo
*.tmp
*.bak
._*
Thumbs.db
Desktop.ini


##Gradle
.gradle

#Tokens
mensabot.conf

# cache
storage/

